<!-- Footer -->
<footer class="bg-blue text-center text-white mt-auto">
  <div class="container p-2">
    <section class="p-2">
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
  </div>
  <div class="text-center p-2 bg-blue2">
    © 2022 Copyright - Ruth Jocelyn Fernandez
  </div>
</footer>
