<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="text-center text-white">
        © 2022 Copyright - Ruth Jocelyn Fernandez
      </div>
      <h6 class="display-6" &copy;2022 All rights reserved.></h6>
    </div>
  </nav>
</footer>
